.about-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.heading-about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    font-size: 70px;
    font-weight: 300;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: black;
}

.info-ceo{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.left-info{
    width: calc(30% - 40px);
    height: 500px;
    margin-right: 40px;
}

.left-info .img-ceo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-info .name-ceo{
    font-size: 40px;
    font-weight: 300;
}

.right-info .official-ceo{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
}

.right-info .review-ceo{
    font-size: 18px;
    line-height: 26px;
}

.main-content-about{
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);
}

.history-store{
    width: 100%;
    display: flex;
    align-items: center;
}

.history-store .img-store{
    max-width: 100%;
    height: auto;
}

.content-left .title-history{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.history-text{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.1em;
}

.history-store .content-right{
    margin-left: 40px;
}

.thank-say{
    width: 100%;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank-say .title-thank{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.thank-say .content-thank{
    width: 60%;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}