<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/about.css" rel="stylesheet" />
    <link href="../assets/logo/logo.png" rel="icon" />
    <title>XXVISTORE</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        
        <div class="nav-header">
          <div class="nav-left">
            <ul class="ul-nav">
              <li class="li-nav">
                <a class="a-nav" href="../index.html">Trang chủ</a>
              </li>
              
              <li class="li-nav">
                <a class="a-nav" href="./About.html">Giới thiệu</a>
              </li>
              <li class="li-nav">
                <a class="a-nav" href="./Contact.html">Liên hệ</a>
              </li>
            </ul>
          </div>  
          <div class="nav-left">
            <ul class="ul-nav">            
            </ul>
          </div>
          <div class="logo-header">
            <a href="../index.html"
              ><img src="../assets/logo/logo.png" class="img-logo" alt=""
            /></a>
          </div>
      </div>
      <div class="about-container">
        <div class="heading-about">
          <span class="title-about">About Skin1004</span>
        </div>
        <div class="info-ceo">
          <div class="left-info">
            <img src="xxvistore-main/About Skin1004 Overview.jpg" class="img-ceo" alt="" />
          </div>
          <div class="right-info">
            <h3 class="name-ceo">SKIN1004 BRAND OVERVIEW</h3>
           
            <p class="review-ceo">
              SKIN1004 is an award-winning hypoallergenic & natural skincare brand from Korea. Our main ingredient, CENTELLA ASIATICA, originating from the untouched nature of MADAGASCAR, is one of the world's finest Centella.

Our products are special in that all of our products are infused with high quality Centella extract. All products are very mild, soothing, extra-light and non comedogenic to provide breathable, non-sticky, and soft finish.

Our core value is to distribute our well-crafted natural skincare products at affordable prices. We are proud to be a clean beauty brand and have acquired certifications to prove so, such as CGMP, Beauty without Bunnies, cruelty-free & vegan through PETA, etc. We will always continue to practice ethical and clean beauty business practices.
            </p>
          </div>
        </div>
        <div class="main-content-about">
          <div class="history-store">
            <div class="content-left">
              <h4 class="title-history">Introducing SKIN1004</h4>
              <p class="history-text">
                When you pronounce “1004” in Korean, it sounds the same way as the word “Angel.” “천사” or “Cheon-Sa” to be exact. Which is why we often call ourselves "Skin Angels”

SKIN1004 is also an award-winning hypoallergenic & natural skincare brand from Korea. Our main ingredient, CENTELLA ASIATICA, originating from the untouched nature of MADAGASCAR, is one of the world's finest Centella.

Our products are special in that all of our products are infused with high quality Centella extract. All products are very mild, soothing, extra-light and non comedogenic to provide breathable, non-sticky, and soft finish.

Our core value is to distribute our well-crafted natural skincare products at affordable prices. We are proud to be a clean beauty brand and have acquired certifications to prove so, such as CGMP, Beauty without Bunnies, cruelty-free & vegan through PETA, etc. We will always continue to practice ethical and clean beauty business practices.
              </p>
            </div>
            <div class="content-right">
              <img src="../assets/store/1.png" class="img-store" alt="" />
            </div>
          </div>
          <div class="history-store">
            <div class="content-left">
              <img src="../assets/store/2.png" class="img-store" alt="" />
            </div>
            <div class="content-right">
              <h3 class="title-history">THE BEST INGREDIENTS COME FROM THE BEST PLACE</h3>
              <p class="history-text">
                We deliver the finest quality of pure Centella Asiatica Extract to create the best skincare products.
              </p>
            </div>
          </div>
        </div>
        <div class="main-content-about">
          <div class="history-store">
            <div class="content-left">
              <h4 class="title-history">PURSUING PERFECTION</h4>
              <p class="history-text">
                We've carefully selected the finest raw ingredients, and deliver you
the untouched nature, its purity and freshness, to your skin.
              </p>
            </div>
            <div class="content-right">
              <img src="../assets/store/1.png" class="img-store" alt="" />
            </div>
          </div>
      </div>
      <div id="footer">
        <div class="footer-left">
          <h1 class="title-footer">Thông tin chung</h1>
          <ul class="ul-footer">
            <li class="li-footer">
              <a class="a-footer" href="./About.html">Giới thiệu</a>
            </li>
            <li class="li-footer">
              <a class="a-footer" href="./Account.html">Tài khoản</a>
            </li>
            <li class="li-footer">
              <a class="a-footer" href="./Contact.html">Liên hệ</a>
            </li>
           
          </ul>
        </div>
        <div class="footer-main">
          <h1 class="title-footer">Đăng ký thành viên</h1>
          <form class="form-register-member">
            <input
              class="input-email"
              type="email"
              name="email"
              placeholder="Nhập Email..."
            />
            <button class="btn-submit" type="button">Đăng ký</button>
          </form>
        </div>
        <div class="footer-right">
          <h1 class="title-footer">Vị trí store</h1>
          <div class="location-store">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.479541128885!2d105.815597!3d21.017881!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab636bdea859%3A0xf68eaa2433cb52b0!2zMjUgTmcuIFRow6FpIEjDoCwgTMOhbmcgSOG6oSwgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2sus!4v1680495239232!5m2!1sen!2sus"
              width="300"
              height="150"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="design-by">
          <p class="design-text">Design by Nguyen The Sang</p>
        </div>
      </div>
    </div>
  </body>
</html>
