<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.css" rel="stylesheet" />
    <link href="../css/contact.css" rel="stylesheet" />
    <link href="../assets/logo/logo.png" rel="icon" />
    <title>XXVISTORE</title>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <div class="nav-header">
          <div class="nav-left">
            <ul class="ul-nav">
              <li class="li-nav">
                <a class="a-nav" href="../index.html">Trang chủ</a>
              </li>
              <li class="li-nav">
                <a class="a-nav" href="./About.html">Giới thiệu</a>
              </li>
              <li class="li-nav">
                <a class="a-nav" href="./Contact.html">Liên hệ</a>
              </li>
            </ul>
          </div>
          <div class="logo-header">
            <a href="../index.html"
              ><img src="../assets/logo/logo.png" class="img-logo" alt=""
            /></a>
          </div>
          <div class="nav-right">
            <a href="#" class="user-header">
              <img src="../assets/icons/search.png" class="icon-user" alt="" />
            </a>
            <a href="#" class="user-header">
              <img src="../assets/icons/user.png" class="icon-user" alt="" />
            </a>
            <a href="./Cart.html" class="user-header">
              <img src="../assets/icons/cart.png" class="icon-user" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="contact-container">
        <div class="heading-contact">
          <span class="title-contact">Liên hệ</span>
        </div>
        <div class="contact-content">
          <div class="map-store">
            <h2 class="title-map">xxiv store</h2>
            <div class="location-store">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59590.9071350203!2d105.815511!3d21.015406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab636bdea859%3A0xf68eaa2433cb52b0!2zMjUgTmcuIFRow6FpIEjDoCwgTMOhbmcgSOG6oSwgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2sus!4v1680529271743!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="form-contact">
          <h2 class="title-contact">Liên hệ</h2>
            <form class="form">
              <input type="text" class="input-contact" name="name" placeholder="Họ và tên..." />
              <input type="number" class="input-contact" name="phone" placeholder="Số điện thoại..." />
              <input type="email" class="input-contact" name="email" placeholder="Email..." />
              <textarea rows="5" class="input-contact" name="introduction" placeholder="Thông tin liên hệ"></textarea>
              <button type="button" class="btn-submit">GỬI THÔNG TIN</button>
            </form>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="footer-left">
          <h1 class="title-footer">Thông tin chung</h1>
          <ul class="ul-footer">
            <li class="li-footer">
              <a class="a-footer" href="./About.html">Giới thiệu</a>
            </li>
            <li class="li-footer">
              <a class="a-footer" href="./Account.html">Tài khoản</a>
            </li>
            <li class="li-footer">
              <a class="a-footer" href="./Contact.html">Liên hệ</a>
            </li>
           
          </ul>
        </div>
        <div class="footer-main">
          <h1 class="title-footer">Đăng ký thành viên</h1>
          <form class="form-register-member">
            <input
              class="input-email"
              type="email"
              name="email"
              placeholder="Nhập Email..."
            />
            <button class="btn-submit" type="button">Đăng ký</button>
          </form>
        </div>
        <div class="footer-right">
          <h1 class="title-footer">Vị trí store</h1>
          <div class="location-store">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.479541128885!2d105.815597!3d21.017881!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab636bdea859%3A0xf68eaa2433cb52b0!2zMjUgTmcuIFRow6FpIEjDoCwgTMOhbmcgSOG6oSwgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2sus!4v1680495239232!5m2!1sen!2sus"
              width="300"
              height="150"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="design-by">
          <p class="design-text">Design by Nguyen The Sang</p>
        </div>
      </div>
    </div>
  </body>
</html>
